nav {
  color: #FFF;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 2;
  background-color: #4056A1;
  padding: 0 1.5em;
}

.nav-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-message p {
  margin: 9px 0 6px 0;
}

.fa-angle-double-down {
  color: #e45252;
  /* height: 50px; */
  position: absolute;
  animation: arrow 2s infinite;
}


@keyframes arrow {
  0% {
    bottom: 8%;
  }
  50% {
    bottom: 13%;
  }

  100% {
    bottom: 8%;
  }
}


span {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}