.tweet-container {
  width: 100%;
  font-size: 1.3rem;
}


.tweet-container article {
  border: 3px solid black;
  padding: 0 1.2em 1.5em;
  margin: 2em 0;
}

article:hover {
  box-shadow: 8px 8px #a1bce0;
}

.tweet-container header {
  margin: 0;
  background-color: inherit;
  height: 120px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.tweeter-handle {
  display: none;
  color: #a1bce0;
}

article:hover .tweeter-handle {
  display: block;
}


.alert-empty-error {
  display: none;
  font-size: 1.2rem;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
}

.alert-max-error {
  display: none;
  font-size: 1.2rem;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
}

.line {
  border-bottom: 3px solid black;
}

.tweet-container footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.tweet-buttons {
  color: #384197;
}



/*  Mobile Styles */
@media only screen and (min-width: 320px) {
  nav {
    background-color: #f09918;
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
  }

  .new-tweet {
    margin-top: 70px;
  }

  .fixed-scroll-btn {
    opacity: 0;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {

  nav {
    background-color: #4056A1;
    background-image: none;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
    margin: 3rem 1.5rem;
  }

  .c1 {
    width: 25%;
  }

  .container {
    margin-top: 120px;
    width: 60%;
    /* margin: 0; */
  }

  .new-tweet {
    margin-top: 0;
  }

  .fixed-scroll-btn {
    opacity: 1;
    position: fixed;
    bottom: 2em;
    right: 1em;
    padding: 20px 26px;
    color: #ffffff;
    outline: none;

    background: rgb(219, 154, 198);
    background: linear-gradient(135deg, rgba(219, 154, 198, 1) 10%, rgba(175, 151, 199, 1) 46%, rgba(138, 162, 205, 1) 74%);
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 4px darkgray;
  }

  .fixed-scroll-btn:hover {
    background: rgb(191, 139, 174);
    background: linear-gradient(135deg, rgba(191, 139, 174, 1) 10%, rgba(146, 125, 166, 1) 46%, rgba(114, 133, 168, 1) 74%);
    cursor: pointer;
    
  }

  .fixed-scroll-btn:active {
    box-shadow: 2px 2px 4px #666;
    transform: translateY(3px);
  }


}